
@{
    ViewBag.Title = "AdminRegister";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<h1 class="text-center">Admin Register </h1>
<form action="~/Account/AdminRegister" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Name " name="AdminName" />
        <br>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone no</label>
        <input type="text" class="form-control" placeholder="Enter Your Phone " name="PhoneNo" />
        <br>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="Enter Your Email " name="Email" />
        <br>
    </div>
    <div class="mb-3">
        <label class="form-label">Admin Passwod</label>
        <input type="text" class="form-control" placeholder="Enter Your Address" name="AdminPassword" />
        <br>
    </div>


    <input type="submit" value="Insert Data" class="btn btn-success" />
</form>

